<style>
   div#test { border: #000 1px solid; padding : 10px 40px 40px 40px;}
</style>
<div id="home">
    <div class="z-depth-5 descrip row">
	        <div class="sugi col s4">
	          <img src="img/sugi.png" height="260" width="300" class=" z-depth-5 imgsugi" alt="kentsugi">
	        </div>
	        <div class="col s8 explain">
		        <p>Start by daily reviewing the basic alphabet table. Then move through the flashcards to prepare for the quiz to move to next level. Receive Kintsugi Badges for each card deck and quiz you study.</p>
	        </div>
        </div>
    <div class="table-div-holder col s12 m2 z-depth-5 centered">
	    <p class="center-align alpha-tb flow-text">Hiragana Table</p>
        <div id="myDynamicTable"></div>
    {{!-- <table class="responsive-table centered">
        <thead>
          <tr>
              <th>Kangi</th>
              <th>Sound</th>
              <th>Play button</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>symbol</td>
            <td>sound</td>
            <td>play-button</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
    </table>  --}}
    <!-- Flash cards-->   
    </div>
    <div class="card-div-holder col s12 m2 z-depth-5 center-align">
	    <p id="" class="center-align">Flash Cards</p>
		<div class="flip3D">
       <div class="back">Box 1 - Back</div>
       <div class="front">Box 1 - Front</div>
   </div>
   <div class="flip3D">
           <div class="back">Box 2 - Back</div>
           <div class="front">Box 2 - Front</div>
       </div>
       <div class="flip3D">
               <div class="back">Box 3 - Back</div>
               <div class="front">Box 3 - Front</div>
           </div>
    </div>
    <div class="quiz-div-holder col s12 m2 z-depth-5">
	    <p id="" class="center-align">Quiz</p>
		<h2 id="test_status"></h2>
		<div id="test"></div>
    </div>
</div>

<script src="/js/index.js"></script>
<script>

// Learning Table    
function addTable() {
  var myTableDiv = document.getElementById("myDynamicTable");

  var table = document.createElement('TABLE');
  table.border = '1';

  var tableBody = document.createElement('TBODY');
  table.appendChild(tableBody);

  for (var i = 0; i < 5; i++) {
    var tr = document.createElement('TR');
    tableBody.appendChild(tr);

    for (var j = 0; j < 10; j++) {
      var td = document.createElement('TD');
      td.width = '75';
      td.appendChild(document.createTextNode("Cell " + i + "," + j));
      tr.appendChild(td);
    }
  }
  myTableDiv.appendChild(table);
}
addTable();

// Final Quiz
  var pos = 0, test, test_status, question, choice, choices, chA, chB, chC, correct = 0;
  var questions = [
      ["How do you pronounce か?", "ka", "da", "mi", "A"],
      ["How do you pronounce り?", "ko", "ri", "shi", "B"],
      ["How do you pronounce つ?", "nu", "tsu", "ru", "B"],
      ["How do you pronounce す?", "ha", "ka", "su", "C"],
      ["How do you pronounce ふ?", "fu", "mi", "tsu", "A"],
      ["What is the Hiragana character for 'ma'?", "く", "し", "ま", "C"],
      ["What is the Hiragana character for 'n'?", "さ", "も", "ん", "C"],
      ["What is the Hiragana character for 'e'?", "あ", "え", "う", "B"],
      ["What is the Hiragana character for 'i'?", "か", "る", "い", "C"],
      ["What is the Hiragana character for 'ko'?", "き", "く", "こ", "C"]

  ];

  function _(x) {
      return document.getElementById(x);
  }
  function renderQuestion() {
      test = _("test");
      if(pos >= questions.length) {
          test.innerHTML = "<h2>You got "+correct+ " of "+questions.length+" questions correct</h2>";
          _("test_status").innerHTML = "Test Completed";
          pos = 0;
          correct = 0;
          return false
      }
      _("test_status").innerHTML = "Question "+(pos+1)+" of "+questions.length;
      question = questions[pos][0];
      chA = questions[pos][1];
      chB = questions[pos][2];
      chC = questions[pos][3];
      test.innerHTML = "<h3>"+question+"</h3>";
      test.innerHTML += "<input type='radio' name='choices' value='A'> "+chA+"<br>";
      test.innerHTML += "<input type='radio' name='choices' value='B'> "+chB+"<br>";
      test.innerHTML += "<input type='radio' name='choices' value='C'> "+chC+"<br><br>";
      test.innerHTML += "<button onclick='checkAnswer()'>Sumbmit Answer</button>";
  }
  function checkAnswer() {
      choices = document.getElementsByName("choices");
      for(var i = 0; i < choices.length; i++) {
          if(choices[i].checked) {
              choice = choices[i].value;
          }
      }
      if(choice == questions[pos][4]) {
          correct++;
      }
      pos++;
      renderQuestion();
  }
  window.addEventListener("load", renderQuestion, false);

</script>