<div id="home">
    <div class="z-depth-5 descrip row">
	        <div class="sugi col s4">
	          <img src="img/sugi.png" height="260" width="300" class=" z-depth-5 hide-on-med-and-down" alt="kentsugi">
	        </div>
	        <div class="col s8 explain">
		        <p>Start by daily reviewing the basic alphabet table. Then move through the flashcards to prepare for the quiz to move to next level. Receive Kintsugi Badges for each card deck and quiz you study.</p>
	        </div>
        </div>
    <div class="card-div-holder col s12 m2 z-depth-5">
	    <p id="" class="center-align">place holder for learning table</p>
    </div>
    <div class="card-div-holder col s12 m2 z-depth-5">
	    <p id="" class="center-align">place holder for cards</p>
    </div>
    <div class="quiz-div-holder col s12 m2 z-depth-5">
	    <p id="" class="center-align">place holder for quiz</p>
    </div>
</div>

